<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>通讯录管理系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/mystyle.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .container{
            color: white;
        }
        #footer{
            position: fixed;
            bottom: 0;
            text-align: center;
            margin-left: -50px;
            left: 39%;
        }
    </style>
</head>

<body>
<div id="container">
    <div class="container">
        <br><br>
        <h1 class="display-4">通讯录</h1>
    </div>
    <br>
    <br>
    <div id="login-container">
        <div style="text-align: center">
            <form id="loginForm" action="loginCheck" method="post" th:object="${user}">
                <br><br>
                <img src="../static/images/b.jpg" alt="头像" width="75" height="75">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <table style="margin: auto">
                    <tr>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">账号</span>
                                </div>
                                <input type="text" required autofocus class="form-control" pattern="[a-zA-Z0-9]{4,}" maxlength="10"
                                       placeholder="大小写字母和数字 至少4位" th:field="*{username}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">密码</span>
                                </div>
                                <input type="password" required autofocus class="form-control" pattern=".{6,}"
                                       maxlength="16" placeholder="至少6位" th:field="*{password}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">登录</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <br><br>
                <h2 class="h5 mb-5 font-weight-normal">测试用户名：admin<br>测试密码：123456</h2>
                <div class="alert alert-danger" th:if="${user.message}" th:text="${user.message}">
                    错误！
                </div>
            </form>
        </div>
    </div>
</div>
<div id="footer">
    <footer class="text-muted">
        <div class="container">
            <p>通讯录管理系统 作者：陈硕</p>
        </div>
    </footer>
</div>
</body>
</html>